@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100200300400500600700800900&display=swap')
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap')
// @import url('https://fonts.googleapis.com/css2?family=Liu+Jian+Mao+Cao&display=swap')
// @import url('http://fonts.cdnfonts.com/css/graphik')

html
  font-size: 62.5%

body
  margin: 0
  padding: 0
  color: #37474f
  line-height: 1.4
  font-family: 'Inter', sans-serif
  font-weight: 400
  background: url()
  overflow: hidden

  .mainBtn
    font-size: 2.4rem
    display: inline-block
    .hitbox
      text-transform: lowercase
      margin: 0 auto
      background: transparent
      border: #123 2px solid
      cursor: pointer
      padding: 8px 0
      border-radius: 4px
      &:hover
        color: blue

div[l-if^="this.slide"]
        height: 100vh

div[l-if="this.slide === 0"]
  display: flex
  flex-direction: column
  justify-content: center
  text-align: center
  h1
    font-family: 'DM Serif Display', serif
    font-weight: 400
    font-size: 7.5rem
    margin: 0
    line-height: 0.9
  h3
    font-weight: 400
    font-size: 1.8rem
  .mainBtn
    .hitbox
      width: 20rem

div[l-if="this.slide === 1"]
  display: flex
  flex-direction: column
  justify-content: center
  text-align: center
  p
    font-size: 1.8rem
    line-height: 1.7
    width: 70rem
    margin: 0 auto
  .mainBtn
    .hitbox
      width: 16rem
