@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap')
// @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap')
// @import url('https://fonts.googleapis.com/css2?family=Liu+Jian+Mao+Cao&display=swap')
// @import url('http://fonts.cdnfonts.com/css/graphik')

html
  font-size: 62.5%

// Variables

$bgColor: #E5E3DF
$btnColor: #D8D4CF
$btnColor2: #d3ccc5
$txtColor: #000

body
  margin: 0
  padding: 0
  color: $txtColor
  line-height: 1.4
  font-family: 'Inter', sans-serif
  font-weight: 400
  background: $bgColor
  overflow: hidden

.mainBtn
  font-size: 1.6rem
  display: inline-block
  .hitbox
    display: flex
    flex-direction: column
    justify-content: center
    text-align: center
    margin: 0 auto
    background: $btnColor
    cursor: pointer
    border-radius: 8px
    height: 6rem
    &:hover
      background: $btnColor2

::selection
  background: black
  color: white

.container
  width: 60%
  margin: 0 auto

.spacer
  height: 18rem
  width: 100%
  &Lg
    height: 26rem

  .wrap
    width: 100%
    position: relative
    overflow: hidden

h1
  font-weight: 900
  font-size: 7.5rem

h2
  font-weight: 700
  font-size: 4.0rem

h3
  font-weight: 600
  font-size: 1.8rem

p, li
  font-size: 1.8rem
  line-height: 1.7

span.underline
  background: transparent
  background: linear-gradient(0deg, #f03554 0%, #f03554 29%, rgba(253,187,45,0) 30%)

div[l-if^="this.slide"]
  height: 100vh

div[l-if="this.slide === 0"]
  display: flex
  flex-direction: column
  justify-content: center
  text-align: center

  h1
    margin: 0
    line-height: 0.9
  h3
    font-weight: 400
    margin: 3rem 0
  .mainBtn
    .hitbox
      width: 16rem

div[l-if="this.slide === 1"]
  display: flex
  flex-direction: column
  justify-content: center
  text-align: center
  p
    width: 70rem
    margin: 0 auto
  .mainBtn
    .hitbox
      width: 13rem

div[l-if="this.slide === 2"]
  .container
    height: 100%
    display: flex
    flex-direction: column
    justify-content: center
    text-align: center
  .mainBtn
    .hitbox
      width: 16rem
  .num
    line-height: 1.2
    h1
      font-size: 12rem
      margin: 0
    span
      text-transform: uppercase
      letter-spacing: 1.2rem
      font-weight: 400
      font-size: 1.8rem
  // .docContainer
  //   background: white
  //   text-align: left
  //   padding: 10rem
  //   box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1)

  //   h1
  //     font-size: 3.2rem
  //   h2
  //     font-size: 2.4rem
  //   h3
  //     font-size: 1.8rem

div[l-if="this.slide === 3"]
  display: flex
  flex-direction: column
  justify-content: center
  text-align: center
  p
    width: 70rem
    margin: 0 auto
  .mainBtn
    .hitbox
      width: 14rem

div[l-if="this.slide === 4"]
  display: flex
  flex-direction: column
  justify-content: center
  text-align: center
