@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap')
@import url('http://fonts.cdnfonts.com/css/monument-extended')
// @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap')
// @import url('https://fonts.googleapis.com/css2?family=Liu+Jian+Mao+Cao&display=swap')
// @import url('http://fonts.cdnfonts.com/css/graphik')
@import url('https://fonts.cdnfonts.com/css/space-mono')

html
  font-size: 62.5%

// Variables

// $bgColor: #E5E3DF
$bgColor: #000
$btnColor: #D8D4CF
$btnColor2: #d3ccc5
// $txtColor: #000
$txtColor: #fff

body
  margin: 0
  padding: 0
  color: $txtColor
  line-height: 1.4
  font-family: 'Space Mono', sans-serif
  font-weight: 400
  background: $bgColor
  overflow: hidden

.mainBtn
  font-size: 1.6rem
  display: inline-block
  color: black
  .hitbox
    display: flex
    flex-direction: column
    justify-content: center
    text-align: center
    margin: 0 auto
    background: $btnColor
    cursor: pointer
    border-radius: 8px
    height: 6rem
    &:hover
      background: $btnColor2

::selection
  background: white
  color: black

.container
  width: 60%
  margin: 0 auto

.spacer
  height: 18rem
  width: 100%
  &Lg
    height: 26rem

h1
  font-family: 'Monument Extended', sans-serif
  font-weight: 400
  font-size: 7.5rem

h2
  font-weight: 700
  font-size: 4.0rem

h3
  // font-family: 'Monument Extended', sans-serif
  font-weight: 400
  font-size: 1.8rem

p, li
  font-size: 1.8rem
  line-height: 1.7

span.underline
  background: transparent
  background: linear-gradient(0deg, #f03554 0%, #f03554 29%, rgba(253,187,45,0) 30%)

.app
  display: flex
  flex-direction: row

div[l-if^="this.slide"]
  height: 100vh
  width: 100vw

div[l-if="this.slide === 0"]
  // display: flex
  // flex-direction: column
  // justify-content: center
  // text-align: center

  .blockWrapper
    // margin-top: 5rem
    margin-left: 6rem
    width: 60%
    .line
      width: 100%
      height: 12rem
      position: relative
      overflow: hidden

  h1
    margin: 0
    line-height: 1.2
    font-size: 10em
    // position: absolute

  h3
    font-weight: 400
    margin: 3rem 0
    margin: 0
    color: rgba(255,255,255,0.6)

  .mainBtn
    .hitbox
      width: 16rem

  // .splash
  //   position: absolute
  //   transform: translate(-50%, -50%)
  //   top: 50%
  //   left: 50%
  //   height: 60rem
  //   width: 90rem
  //   background: blue
  //   z-index: -1

  .arrow
    z-index: 999
    position: absolute
    bottom: 30%
    right: 25%
    cursor: pointer

    ion-icon
    color: #ffffff
    font-size: 7.2rem
    transition: ease 0.2s

    &:hover
      transform: translateX(1.4rem)
div[l-if="this.slide === 1"]
  display: flex
  flex-direction: column
  justify-content: center
  text-align: center

  p
    width: 45vw
    // font-family: 'Monument Extended', sans-serif
    // text-transform: uppercase
    margin: 0 auto
  .mainBtn
    .hitbox
      width: 13rem

div[l-if="this.slide === 2"]
  .container
    display: flex
    flex-direction: column
    justify-content: center
    text-align: center
    padding: 5px 10px
  .mainBtn
    .hitbox
      width: 16rem
  .reveal
    height: 100vh
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
  .n1
    animation-delay: 1s
    animation-name: reveal
    animation-duration: 3s
    animation-iteration-count: 1
    animation-fill-mode: forwards
  .n2
    animation-delay: 5s
    animation-delay: 5s
    animation-name: reveal
    animation-duration: 3s
    animation-iteration-count: 1
    animation-fill-mode: forwards
  .num
    line-height: 1.2
    h1
      font-size: 12rem
      margin: 0
    span
      text-transform: uppercase
      letter-spacing: 1.2rem
      font-weight: 400
      font-size: 1.8rem

  // .docContainer
  //   background: white
  //   text-align: left
  //   padding: 10rem
  //   box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1)

  //   h1
  //     font-size: 3.2rem
  //   h2
  //     font-size: 2.4rem
  //   h3
  //     font-size: 1.8rem

div[l-if="this.slide === 3"]
  display: flex
  flex-direction: column
  justify-content: center
  text-align: center
  p
    width: 70rem
    margin: 0 auto
  .mainBtn
    .hitbox
      width: 14rem

div[l-if="this.slide === 4"]
  display: flex
  flex-direction: column
  justify-content: center
  text-align: center

.ring
  margin: 0
  padding: 0
  position: absolute
  transform: translate(-50%, -50%)
  top: 50%
  left: 50%
  z-index: -1
  // transform: scale(0.8)

  img
    max-height: 100vh

  &.ringOne
    img
      animation: rotateRing 2s linear infinite

  &.ringTwo
    img
      animation: rotateRing 8s linear infinite

@keyframes rotateRing
  from
    transform: rotate(0deg)

  to
    transform: rotate(360deg)
@keyframes reveal
  30%
    opacity: 50%
  100%
    margin-top: -100vh
    display: none
